<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="{{"css/kugadi-simple.css" | relURL }}">
  <link rel='preload' href='https://fonts.gstatic.com' />
  <link rel='preload' href='https://static.doubleclick.net' />
  <link rel='preload' href='https://www.google.com' />
  <link rel='preload' href='https://js.intercomcdn.com' />
  <link rel='preload' href='https://static.intercomassets.com' />
</head>
<body>
