
<div style="background-color: #e9e9e9; padding-left: 40px; padding-right: 40px; padding-top: 30px; padding-bottom: 40px;">
  <p style="padding: 5px; margin:0; float: left;">&copy; 2019, Kugadi Inc. All rights reserved</p>
  <a style="padding: 5px; margin:0; float: right;" href={{ relref . "privacy-policy.md" }}>Privacy Policy<a>
</div>
<script type="text/javascript">
    var _stk = "ae9261cf2f8dcc0b7257f19a260e71c6cdbf7364";
    (function(){
        var a=document, b=a.createElement("script"); b.type="text/javascript";
        b.async=!0; b.src=('https:'==document.location.protocol ? 'https://' :
        'http://') + 'd31y97ze264gaa.cloudfront.net/assets/st/js/st.js';
        a=a.getElementsByTagName("script")[0]; a.parentNode.insertBefore(b,a);
    })();
</script>  
</body>
</html>
