

{{ define "menu-item" }}
  {{ $page := .page }}
  {{ with .entry }}
    {{ if .HasChildren }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}
          <span class="drop-icon">▾</span>
          <label title="Toggle Drop-down" class="drop-icon" for="{{ .Name }}">▾</label>
        </a>
        <input type="checkbox" id="{{ .Name }}">
        <ul class="sub-menu">
          {{ range .Children }}
            {{ template "menu-item" (dict "entry" . "page" $page) }}
          {{ end }}
        </ul>
      </li>
    {{ else }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}
        </a>
      </li>
    {{ end }}
  {{ end }}
{{ end }}

<div id="desktop">
  <div id="main-menu" style="margin-left: 25px; margin-bottom: 20px; margin-top=25px; margin-right:25px;">
    <nav id="menu" style="display: table; width:100%;">
      <div class="col third">
        <a href="{{ .Site.BaseURL }}" class="logo_link">
          <img src="/images/logo-120x100.png" alt="Kugadi Logo" class="logo_image">
        </a>
      </div>
      <div class="col">

      </div>
      <div class="col" style="width: 66%" >
        <ul class="main-menu" style="float: right;">
          {{ $page := . }}
          {{ range .Site.Menus.main }}
            {{ template "menu-item" (dict "entry" . "page" $page) }}
          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
</div>

<div id="mobile">
  <nav id="menu">
    <label for="tm" id="toggle-menu">CLICK FOR MORE PAGES<span class="drop-icon">▾</span></label>
    <input type="checkbox" id="tm">
    <ul class="main-menu" stlye="float: right;">
      {{ $page := . }}
      {{ range .Site.Menus.main }}
        {{ template "menu-item" (dict "entry" . "page" $page) }}
      {{ end }}
    </ul>
  </nav>
</div>
